@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Luminous Candles</h1>
    <p>The best candles ever!</p>
    <img src="~/img/Candle1.jpg" alt="Best Candle" />
</div>
