@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Luminous Candles!</h1>
        <p>
            At Luminous Candles, we craft each candle with a blend of precision, passion, 
            and a touch of magic. Our artisanal candles are more than just wax and wick; 
            they're vessels of warmth and delight that transform your space into a sanctuary
            of relaxation and comfort.</p>

            <img src="~/img/Candle1.jpg" alt="Best Candle" />

<p></p>
</div>
